// .myGallery {
//     display: grid;
//     grid-row: auto;
//     grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
//     justify-content: center;
//     align-items: center;
//     padding: 0px !important;
//     margin: 0px !important;
//     gap: 2;

//     div {
//         position: relative;
//         overflow: hidden;
//         padding: 0px !important;
//         vertical-align: middle;
//         padding: 0px !important;
//     }
// }

.myGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    gap: 2;
}

.myGallery .item {
    // max-width: 240px;
    // max-height: 240px !important;
    position: relative;
    overflow: hidden;
    padding: 0px !important;
    vertical-align: middle;
    padding: 0px !important;
}

.myGallery .item {
    vertical-align: middle;
    padding: 0px !important;
}